header {
display:inline-block;
float: right;
font-size: medium;
padding:10px;


}

body {
    width: 100%;
    margin-top: 100px;
}

img {
    width:272px;
    height:92px;
}

footer {
width:100%;

}

.footer-left, .footer-right {
    display: inline-block;
    background-color:rgb(226, 216, 216);
    font-size: medium;
    margin:0px;
    
}

.footer.right {
    float: inline-end;
}