
#container-header {
    justify-content: flex-end;
    margin-left: 10px;
    margin-right:10px;
}

#container-main {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    width:272px;
    height:auto;
}

#buttons {
    justify-content: center;
}


.flex-container {
    background-color: pink;
    display:flex;
}

#container-footer-2 {
    justify-content: space-between;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;            
    margin-left: 10px;
    margin-right: 10px;;
  }

  header {
    position: absolute;
    width: 100%;
    top: 0;
    height: 2.5rem;            
    margin-left: 10px;
    margin-right: 10px;;
  }